<div class="container m-4">
  <div class="heading">
    Canal Street Market is a carefully curated retail market, food hall &
    community space open year-round at 265 Canal Street. Support Small Business
    this weekend!
  </div>
  <img
    class="img-fluid"
    src="../../../assets/images/main-photo.jpg"
    alt="night-market"
  />

  <div class="heading mt-4">A New Kind of Market</div>

  <div class="row">
    <div class="col-sm-4 col-12">
      <img
        class="img-fluid images"
        src="../../../assets/images/night-market.jpg"
        alt="canal-market"
      />
      <div>
        Merging retail, food, art, and culture, Canal Street Market highlights
        top retail and design concepts, restaurants, and up-and-coming players
        in the downtown New York City community.
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <img
        class="img-fluid images"
        src="../../../assets/images/market-hours.jpg"
        alt="market-hours"
      />
      <div>
        Retail Market Hours:<br />
        Fri– Sun: 11:00AM - 7:00PM
      </div>
    </div>
    <div class="col-sm-4 col-12">
      <img
        class="img-fluid images"
        src="../../../assets/images/food-hours.jpg"
        alt="food-hours"
      />
      <div>
        Food Hall Hours:<br />
        Mon – Sun: 11:00AM - 8:00PM
      </div>
    </div>
  </div>

  <div class="heading mt-4 text-center">Market Events</div>

  <div class="row text-center">
    <div class="col-sm-4 col-12">
      12/02<br/> Small Business Retail Pop Up Weekend!
    </div>
    <div class="col-sm-4 col-12">
      12/07<br/> New Balance x Paperboy Paris by Greenhouse @ Canal Street Market
    </div>
    <div class="col-sm-4 col-12">
      12/11<br/> Hack City 12/11
    </div>
  </div>

  <app-footer></app-footer>

</div>
