/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  font-family: 'Quicksand', sans-serif !important;
}